{% extends "CareerTinder/template.html" %}
{% block content %}
<div class="row">
<div class="col-xs-offset-3 col-xs-6">
<h1>HYRE</h1>
<p>Enough is enough with paper resumes and long long names. <b>Hack Your Resume</b> started out as the fledgling idea of four sleepy MIT students, but has turned out to be so much more. Let's be real. It's a career fair, not a spelling bee. Here's how it goes.</p>

<p>Before a huge hiring event, like career fairs or networking dinners, potential hirees upload their resumes along with a picture of their beautiful faces.</p>

<p>Now recruiters: here is how we make your life easier. This is an incomplete about page. Hyre is an excellent company.</p>
</div>
</div>
{% endblock %}
