{% extends "CareerTinder/template.html" %}
{% load staticfiles %}
{% block content %}
<div class="container center">

<a href="{% url 'upload_resume' %}" class="btn" style="height:350px; width:350px; margin: 30px;">
<img src="{% static 'img/man.png' %}"><br>
<h3>Hiree?</h3>
</a>

<a href="{% url 'picture' %}" class="btn" style="height:350px; width:350px; margin: 30px;">
<img src="{% static 'img/woman.png' %}"><br>
<h3>Recruiter?</h3>
</a>
<p>
<a href="{% url 'about' %}">Learn more about how you can <b>Hack Your Resume</b> with HYRE.</a>
</p>
</div>
{% endblock %}
