{% extends "CareerTinder/index.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-xs-push-1">
        <h3>Welcome, recruiters!</h3>
        <p>Already visited potential candidates? <a href="{% url 'review_page' %}">Review your notes here!</a></p>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9">
    <video id="video" height="75%" style="display: block; margin: auto;" autoplay></video>
    <br>
    <button id="snap" style="margin: auto;" >Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <script>
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.src = window.URL.createObjectURL(stream);
            video.play();
        });
    }

    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
      context.drawImage(video, 0, 0, 640, 480);
    });

    // Converts canvas to an image
    function convertCanvasToImage(canvas) {
        var image = new Image();
        image.src = canvas.toDataURL("image/png");
        return image;
    }
    var photo = convertCanvasToImage(canvas);

    // ok so get galleries subjects which will tell me names and the names of files in media folder/face should be unique
    // if not in there, I add it to API


    listAllSubjectsOfGallery("allPictures");


    matchImageToPerson(photo);



    </script>
</div>
{% endblock %}