{% extends "CareerTinder/template.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5" style="padding-left: 50px;">
        <a href="{% url 'browse' %}">Summary</a>
        <center>
        <div class="circle-avatar" style="border: 1px solid #333; background-image:url({{ pic }}); height:160px; width:160px; border-radius: 50%;background-position-y: center; background-position-x: center; background-repeat: no-repeat; background-size: cover; align: left; z-index: 1;"></div>
        <h4>{{ hiree.name }}</h4>
        </center>
        <p><b>College:</b> {{ hiree.college }}</p>
        <p><b>Major:</b> {{ hiree.major }}</p>
        <p><b>Year:</b> {{ hiree.year }}</p>
        <p><a href="mailto:{{ hiree.email }}">Email this candidate</a></p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7">
        <center>
        <div id="pdf_viewer"></div>
        <br/>
        <br/>
        {% block response_section %}
        <form action="{% url 'review_page' hiree_idx %}" method="post">
            {% csrf_token %}
            <input type="submit" name="submit_button" value="No" class="btn"/>
            <input type="submit" name="submit_button" value="Later" class="btn"/>
            <input type="submit" name="submit_button" value="Yes" class="btn"/>
        </form>
        </center>
        {% endblock %}    </div>
</div>

<script src="{% static 'js/PDFObject/pdfobject.js' %}"></script>
<script>PDFObject.embed("{{ hiree.resume_picture.url }}", "#pdf_viewer");</script>
<style>
    .pdfobject-container { height: 60%; width: 80%; }
    .pdfobject { border: 1px solid #666; }
</style>
{% endblock %}
