{% extends "CareerTinder/template.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-xs-push-2">
        <h4>{{ hiree.name }}</h4>
        <p><b>College:</b> {{ hiree.college }}</p>
        <p><b>Major:</b> {{ hiree.major }}</p>
        <p><b>Year:</b> {{ hiree.year }}</p>
        <p><a href="mailto:{{ hiree.email }}">Email this candidate</a></p>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9">
        <center>
            <div class="circle-avatar" style="background-image:url({{ pic }});"></div>
            <div id="pdf_viewer"></div>
        <br/>
        <br/>
        {% block response_section %}
        <form action="{% url 'review_page' hiree_idx %}" method="post">
            {% csrf_token %}
            <input type="submit" name="submit_button" value="No" class="btn"/>
            <input type="submit" name="submit_button" value="Later" class="btn"/>
            <input type="submit" name="submit_button" value="Yes" class="btn"/>
        </form>
        {% endblock %}
        </center>
    </div>
</div>

<script src="../../static/js/PDFObject/pdfobject.js"></script>
<script>PDFObject.embed("{{ hiree.resume_picture.url }}", "#pdf_viewer");</script>
<style>
    .pdfobject-container { height: 60%; width: 50%;}
    .pdfobject { border: 1px solid #666; }
</style>
{% endblock %}
