{% extends "CareerTinder/index.html" %}
{% block content %}
{% load material_form %}
<!-- Upload form. Note enctype attribute! -->
<div class="row">
<div class="col-xs-6 col-xs-offset-3">
<form action="{% url 'upload_resume' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% form form=form %}
        {% part form.name prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
        {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
        {% part form.college prefix %}<i class="material-icons prefix">account_balance</i>{% endpart %}
        {% part form.major prefix %}<i class="material-icons prefix">book</i>{% endpart %}

    {% endform %}
    <input type="submit" value="Apply to be Hyred!" />
</form>
</div>
</div>
{% endblock %}